body {
	background: #fff;
}
.big-wrapper {
	margin: 0;
}

a {
    color: #000;
}

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: none !important;
}


.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
    box-shadow: none;
    }
    

#sdrn_menu.sdrn_levels {
    ul li {
        ul li {
            background: none repeat scroll 0 0 #ededed;
            padding-left: 44px;
        }
    }
}



#wrap {
    .usermenu {
        background: #000;
        height: 50px;   
    }
    .logo {
            a {
                background: url("./images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                display: block;
                height: 100px;
                margin: 5px auto auto;
                text-indent: -999999px;
                width: 131px;
                @media (max-width: 650px) {
                    background: url("./images/mobile-logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                    display: block;
                    height: 50px;
                    margin: 5px auto auto;
                    text-indent: -999999px;
                    width: 205px;
                }
            }  
    }
    .topbar {
        height: 40px;
        padding: 10px;
            a {
                color: #000;
            }
    }
    .block-spacer {
        height: 0px;
        margin-bottom: 10px;
    }
    @media (max-width: 650px) {
        .page-title {
            text-align: center;
        }
        p.woocommerce-result-count {
            float: none !important;
            text-align: center;
        }
        form.woocommerce-ordering {
            float: none;
            text-align: center;
        }       
    }
    @media (max-width: 650px) {
        .flex-control-nav {
            display: none;
        }
    }
    h1.product_title {
        @media (max-width: 650px) {
            //display: none;
        }
    }
    .woocommerce-breadcrumb {
        //display: none;
        @media (max-width: 650px) {
            display: none;
        }
    }
    h1.mobile-product-title {
        @media (max-width: 650px) {
            font-size: 18px;
        }
    }
    h1.product_title {
        font-size: 22px;
    }
    .product_meta {
        border-top: 1px solid #eee;
        padding: 20px 0;
    }
    .related {
        border-top: 1px solid #eee;
        padding: 20px 0;
    }
}



//FIX SASS
.woocommerce #content div.product div.images img, .woocommerce div.product div.images img, .woocommerce-page #content div.product div.images img, .woocommerce-page div.product div.images img {
    box-shadow: none;
    display: block;
    height: auto;
    transition: all 0.2s ease-in-out 0s;
}

//FIX SASS
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    margin-bottom: 2em;
    
    @media (max-width: 650px) {
        width: 100%;
    }
}


//FIX SASS
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
        width: 15%;

    @media (max-width: 650px) {
        width: 48%;
        }
}
//FIX SASS
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
        //display: none;
    }
    .related {
        ul.products {
            li.product a {
                span.price {
                    display: none;
                }
                .onsale {
                    //display: none;
                }
            }
        }
    }
//FIX SASS
.woocommerce #content div.product form.cart .variations select, .woocommerce div.product form.cart .variations select, .woocommerce-page #content div.product form.cart .variations select, .woocommerce-page div.product form.cart .variations select {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E5E5E5;
    margin: 0 0 10px;
    padding: 11px;
    width: 100%;
}

//FIX SASS
.woocommerce #content input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce-page #content input.button.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt {
    background: none repeat scroll 0 0 #ff4d49;
    border-color: #ff4d49;
    color: #fff;
    text-shadow:  none;
    }
//FIX SASS
.woocommerce #content input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce-page #content input.button.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce-page input.button.alt:hover {
    background: none repeat scroll 0 0 #ff2d3d;
    border-color: #ff4d49;
    color: #fff;
    text-shadow:  none;
    }


//FIX SASS
.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button {
    border-radius: 2px;
    box-shadow: none;
    }


.woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price {
    color: #000;
}


.woocommerce span.onsale, .woocommerce-page span.onsale {
    background: #63c7bf;
}

.panel-default > .panel-heading {
    background-color: #fff !important;
    border-color: 0px;
    color: #333333;
}

.panel-default > .panel-heading {
    background-color: #fff !important;
    border-color: 0px;
    color: #333333;
}

.panel-title > a {
    display: block;
}

.variations {
   td.label {
    display: none;       
    }
}